body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    text-align: center;
    /* margin: 1.5rem; */
}

.page-item.active .page-link {
    background-color: #6c757d;
    border-color: #3e4347;
    cursor: auto;
}

.page-link {
    color: #6c757d;
}

.page-link:hover {
    color: black;
    cursor: pointer;
}
